<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
<title>顧客登録</title>
</head>
<body>
	<div class="container">
		<h1 class="my-5">顧客登録</h1>
		<form th:action="@{/create}" th:object="${customerForm}" method="post">
			<!-- マウスホバー テーブル幅を画面の50％に設定  -->
			<table class="table table-bordered table-hover col-6">
				<!-- フォームの部品はform-groupで囲う -->
				<tr class="form-group">
					<!-- テキストを縦中央揃え -->
					<th class="align-middle">名前</th>
					<!-- テキストボックスにform-controlで整形 text-dangerでエラー文字を赤色に設定 -->
					<td><input type="text" class="form-control" name="name" th:field="*{name}"><span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
				</tr>
				<tr class="form-group">
					<th class="align-middle">メールアドレス</th>
					<td><input type="text" class="form-control" name="email" th:field="*{email}"><span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
				</tr>
			</table>
			<input type="submit" class="btn btn-primary mt-3" value="登録">
		</form>
	</div>
	<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>